<nav>
  <a href="#jesscjess" id="brand">♥</a>
  <div id="nav-container">
    <ul class="nav">
      <li class="lights">
        <a href="#lights">Lights</a>
      </li>
      <li class="camera">
        <a href="#camera">Camera</a>
      </li>
      <li class="action">
        <a href="#action">Action</a>
      </li>
    </ul>
  </div>
</nav>

<div class="parallax">
  <section id="jesscjess" class="parallax__group">
    <div class="parallax__layer">
      <div class="title">JessC Jess
        <div class="tag-line">Full Stack Dev that ♥'s the Front End</div>
        <div class="follow">Follow me
          <a href="https://www.instagram.com/mujerdev/" target="blank">@mujerdev</a>
        </div>
      </div>
      <div class="triangle-sided-top"></div>
      <div class="triangle-sided-bottom"></div>
    </div>
  </section>
  <section id="lights" class="parallax__group">
    <div class="parallax__layer">
      <div class="image-container">
        <img src="assets/img/lightsNew.jpg" alt="Lights">
        <!-- <div class="after">Photo Cred:
          <a href="https://www.instagram.com/p/BhYCsXLhUQY/?taken-by=fl0wersbl00m">@fl0wersbl00m</a>
        </div> -->
      </div>
    </div>
  </section>
  <section id="camera" class="parallax__group">
    <div class="parallax__layer">
      <div class="image-container">
        <img src="assets/img/cameraNew.jpg" alt="Camera">
        <!-- <div class="after">Photo Cred:
          <a href="https://www.instagram.com/p/BhX-903AH_J/?taken-by=xunshinee">@xunshinee</a>
        </div> -->
      </div>
    </div>
  </section>
  <section id="action" class="parallax__group">
    <div class="parallax__layer">
      <div class="image-container">
        <img src="assets/img/actionNew.jpg" alt="Action">
        <!-- <div class="after">Photo Cred:
          <a href="https://www.instagram.com/p/BhYAUh-HGLf/?taken-by=noursamraleila">@noursamraleila</a>
        </div> -->
      </div>
    </div>
  </section>
</div>
