  <nav>
    <a href="#jesscjess" id="brand">♥</a>
    <div id="nav-container">
      <ul class="nav">
        <li class="lights">
          <a href="#lights">Lights</a>
        </li>
        <li class="camera">
          <a href="#camera">Camera</a>
        </li>
        <li class="action">
          <a href="#action">Action</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="parallax">
    <section id="jesscjess" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">JessC Jess
          <div class="tag-line">Full Stack Dev that ♥'s the Front End</div>
          <div class="follow">Follow me <a href="https://www.instagram.com/mujerdev/">@mujerdev</a></div>
        </div>
        <div class="triangle-sided-top"></div>
        <div class="triangle-sided-bottom"></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
      </div>
    </section>
    <section id="lights" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <!-- <div class="title">Lights</div> -->
        <img src="assets/img/lights.jpg">
      </div>
    </section>
    <section id="camera" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <!-- <div class="title">Camera</div> -->
        <img src="assets/img/camera.jpg">
      </div>
    </section>
    <section id="action" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <img src="assets/img/action.jpg">
      </div>
    </section>
  </div>